<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Fehntjer Angel-Challenge</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">		
		<link rel="stylesheet" href="/css/home.css">
	</head>
	<body>
		<section class="home">
			<% include header %>
			
			<section>
				<h2>Rangliste</h2>
				<!-- Check if there are scores to display -->
				<% if (scores && scores.length > 0) { %>
				   <table>
					   <thead>
						   <tr>
							   <th>Platz</th>
							   <th>Teilnehmer</th>
							   <th>Punkte</th>
						   </tr>
					   </thead>
					   <tbody>
						   <% scores.forEach(function(score) { %>
							   <tr>
								   <td><%= score.ranking %></td>
								   <td><%= score.username %></td>
								   <td><%= score.total_points %></td>
							   </tr>
						   <% }); %>
					   </tbody>
				   </table>
			   <% } else { %>
				   <p>No scores available.</p>
			   <% } %>
	   
			</section>
			<section>
				<p><strong>Melde dich an, um deine Fänge einzutragen!</strong></p>
				<br>
				<a class="button" href="/login">Anmelden</a>
			</section>
		</section>
			<% include footer %>
	</body>
</html>
