<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fangmeldung</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<section class="todoapp">
			<%include header %>
			<nav class="nav">
				<ul>
					<li class="user"><%= user.name || user.username || user.email %></li>
					<%# Write a link to a page /scoreboard %>
					<li>
						<a href="/scoreboard">Rangliste</a>
					</li>
					<li>
						<a href="/rules">Regeln</a>
					</li>
					<li>
						<form action="/logout" method="post">
							<button class="logout" type="submit">Abmelden</button>
						</form>
					</li>
				</ul>
			</nav>	
		<h2>Fangmeldung</h2>
		<div class="fish-form">
			<div class="prompt">
			<form action="/submitfish" method="post">
				<section>
					<label for="fish">Fish</label>
					<select name="fish_type" id="fish_type">
						<% fishTypes.forEach(function(fish) { %>
							<option value="<%= fish.id %>"><%= fish.type %></option>
						<% }); %>
					</select>
				</section>
				<section>
					<label for="length">Length</label>
					<input id="length" name="length" type="number" min="1" required>
				</section>
				<button type="submit">Submit</button>
			</form>
			</div>
		</div>
		<h2>Fang entfernen</h2>
	</section>
		<% include footer %>
		<script type="text/javascript">
			window.onload = function() {
				const urlParams = new URLSearchParams(window.location.search);
				const fishRegistered = urlParams.get('fishRegistered');
				if (fishRegistered) {
					alert('Dein Fisch wurde erfolgreich bewertet!');
					history.replaceState(null, '', window.location.pathname); // Reset the URL
				}
			};
		</script>
	</body>
</html>
