<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Express • TodoMVC</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/login.css">
</head>

<body>
	<section class="prompt">
		<h3>Registrieren</h3>
		<hr>
		<form action="/signup" method="post">
			<section>
				<label for="username">Username</label>
				<input id="username" name="username" type="text" autocomplete="username" required>
			</section>
			<section>
				<label for="name">Name</label>
				<input id="name" name="name" type="text" autocomplete="name" required>
			</section>
			<section>
				<label for="e-mail">E-Mail</label>
				<input id="email" name="email" type="text" autocomplete="e-mail" required>
			</section>
			<section>
				<label for="regkey">Registrier-Code</label>
				<input id="regkey" name="regkey" type="number" autocomplete="e-mail" required>
			</section>
			<section>
				<label for="new-password">Passwort</label>
				<input id="new-password" name="password" type="password" autocomplete="new-password" required>
			</section>
			<button type="submit">Registrieren</button>
		</form>
		<p class="help">Du hast bereits einen Account? <a href="/login">Anmelden</a></p>
	</section>
	<% include footer %>
		<script type="text/javascript">
			window.onload = function () {
				const urlParams = new URLSearchParams(window.location.search);
				const notVerified = urlParams.get('notVerified');
				if (notVerified) {
					alert('Du bist nicht verifiziert, bitte wende dich an deinen Ansprechpartner.');
					history.replaceState(null, '', window.location.pathname); // Reset the URL
				}
			};
		</script>
</body>

</html>